# GENERAL
.idea

# DAY 6 - SIGNALS AND NOISE
day-06-signals-and-noise/signal.txt
day-06-signals-and-noise/test_signal.txt

# DAY 8 - TWO-FACTOR AUTHENTICATION
day-08-two-factor-authentification/cardswipe.txt
day-08-two-factor-authentification/test_cardswipe.txt

# DAY 9 - EXPLOSIVES IN CYBERSPACE
day-09-explosives-in-cyberspace/compressed.txt